/* ==================== GENERAL STYLES ==================== */
html {
	font-size: 16px;
}

body {
	background-color: #fdfdfd;
}

h1 {
	margin-bottom: 1.25rem;
	font-size: 1.688rem;
	letter-spacing: 0.0625rem;
}

h2 {
	margin: 1.875rem;
	font-size: 1.123rem;
	font-weight: 400;
}

h5 {
	margin-bottom: 1.375rem;
}

h6 {
	margin-bottom: 30px;
}

.navbar {
	display: inline;
}

.navbar-toggler {
	font-size: 1rem;
}

.bg-light {
	background-color: #fff !important;
	border: none;
}

.page-header {
	padding: 1.25rem 0.625rem;
}

.logo-imagga {
	display: inline-block;
	margin-left: 0.625rem;
	width: 12.5rem;
	height: 6.25rem;
}

span.imagga-info {
	display: block;
	margin-left: 5.625rem;
	padding-bottom: 20px;
}

.inputURL.input-group.mb-3 {
	margin: 1.25rem 0;
}

div.submit-btn {
	margin-top: 3.313rem;
}

button[type=submit] {
	display: block;
}

button[type=submit]#submitAutoTag {
	margin-top: 2.313rem;
}

.btn-link {
	font-size: 1.063rem;
}

.navbar-toggler {
	margin-bottom: 30px;
}
.key-unlocked, 
.key-locked {
	margin-left: 8px;
}

/* ------ API result container ------ */

div.api-results {
	text-align: center;
	padding: 0 1.875rem;
}

.result-field {
	box-shadow: 0 0 0 0.2rem rgba(108, 236, 69, 0.25);
}

.badge-primary {
	color: #000;
	background-color: transparent;
}

.list-group {
	padding: 0;
	font-size: 1rem;
}

.active.show#colors {
	margin-bottom: 7.813rem;
}

.card-header {
	padding: 0;
	background-color: #f9f9f9;
}

.card-body {
	padding: 0.625rem 0.9375rem 0;
}

/* ==================== LOADER  ==================== */

.lds-dual-ring {
	display: inline-block;
	width: 4rem;
	height: 4rem;
	padding-top: 3.125rem;
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 2.875rem;
	height: 2.875rem;
	margin: 0.0625rem;
	border-radius: 50%;
	border: 0.3125rem solid #fff;
	border-color: #000 transparent #000 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* ==================== BAR GRAPH  ==================== */

/* ------ container ------ */
div.bar-graph {
	position: relative;
	height: 16.88rem;
	font-size: 0.8125rem;
	font-weight: normal;
}

div.bar-graph ul {
	margin-top: 1.875rem;
	padding: 0;
	list-style-type: none;
}


/* ------ grid ------ */
div.bar-graph div.graph li:nth-child(odd) {
	float: left;
	width: 100%;
	height: 3.125rem;
	border-top: 0.0625rem solid #e5e5e5;
}

div.bar-graph div.graph li:nth-child(even) {
	float: left;
	width: 100%;
	height: 3.125rem;
	border-top: 0.0625rem solid #e5e5e5;
}


/* ==================== BARS ==================== */

/* ------ common styles ------ */
div.bar-graph div.graph li.bar {
	position: absolute;
	float: left;
	width: 4.063rem;
	bottom: 4.375rem;
	border: 0.0625rem solid rgba(0, 0, 0, 0.15);
	text-align: center;
	transition: all 0.15s ease-in-out;
}

/* ------ bar top label ------ */
div.bar-graph div.graph li.bar span {
	position: relative;
	top: -1.875rem;
	padding: 0.1875rem 0.3125rem;
	background-color: #eeeeee;
	border: 0.0625rem solid #bebebe;
	border-radius: 0.1875rem;
	transition: all 0.15s ease-in-out;
	z-index: 100;
}

/* ------ bar bottom label ------ */
div.bar-graph div.graph li.bar div.bottom {
	position: absolute;
	left: 0;
	bottom: -0.625rem;
	width: 100%;
	height: 0;
}

/* ------ bars positions ------ */
div.bar-graph div.graph li.nr-0 {
	left: 0;
}

div.bar-graph div.graph li.nr-1 {
	left: 4.5rem;
}

div.bar-graph div.graph li.nr-2 {
	left: 9rem;
}

div.bar-graph div.graph li.nr-3 {
	left: 13.5rem;
}

div.bar-graph div.graph li.nr-4 {
	left: 18rem;
}

div.bar-graph div.graph li.nr-5 {
	left: 22.5rem;
}

div.bar-graph div.graph li.nr-6 {
	left: 27rem;
}

/* ==================== FOOTER  ==================== */

footer {
	margin-top: 1.25rem;
	padding: 1.25rem 0;
	background-color: #d5e5e6;
	background-image: linear-gradient(180deg, #d5e5e6 14%, #ffffff 100%);
}

p.about-project {
	line-height: 1.9;
	font-family: inherit;
}

img.github-icon {
	padding-top: 1.438rem;
}

ul,
.nav-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 0.5rem;
}

.nav-list li a {
	color: #000;
	text-decoration: none;
}

/* ==================== HOVERS  ==================== */

div.bar-graph div.graph li.bar:hover span {
	top: -2.188rem;
	padding: 0.1875rem;
	margin: 0;
}

.btn-link:hover {
	text-decoration: none;
}

/* ==================== Banner Consent  ==================== */

.banner-consent {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0 !important;
	z-index: 1;
	opacity: 0;
	border-radius: 0;
	transform: translateY(100%);
	transition: all 500ms ease-out;
	color: #ecf0f1;
	background: rgba(69, 77, 89, 0.85);
}

.banner-consent.show {
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s;
}

.accept-cookie {
	margin-left: 20px;
	padding: 8px 20px;
	vertical-align: baseline;
}

/* ==================== Media Queries  ==================== */

@media (max-width: 992px) {

	h5 {
		margin-bottom: 1rem;
		text-align: center;
	}

	.active.show#colors {
		margin-bottom: 0;
	}

	.lds-dual-ring {
		padding-top: 0.625rem;
	}

	div.api-results {
		margin-top: 1.25rem;
	}

	.card-body {
		padding: 1.125rem 0.9375rem 0;
	}

	button[type=submit] {
		display: block;
	}

	.btn-link {
		font-size: 1.063rem;
	}

	div.contacts,
	div.credits {
		margin-top: 1.25rem;
	}

	.list-group {
		font-size: 1.063rem;
	}

	footer {
		margin: 30px 0;
	}
	p.about-project {
		margin-bottom: 20px;
		text-align: justify;
	}
}